<div id="background-wrap">
    <span class="bubble x1"></span>
    <span class="bubble x2"></span>
    <span class="bubble x3"></span>
    <span class="bubble x4"></span>
    <span class="bubble x5"></span>
    <span class="bubble x6"></span>
    <span class="bubble x7"></span>
    <span class="bubble x8"></span>
    <span class="bubble x9"></span>
    <span class="bubble x10"></span>
</div>
<div class="first-circle"></div>
<div class="second-circle"></div>