
<footer class="footer container-fluid gls_morph_no_shadow pt-4">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 inline d-flex flex-column flex-sm-column flex-lg-row justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start">
            <div class="d-flex justify-content-center">
                <img class="footer_image" src="../images/ontrickLogo.png">
            </div>

            <div class="inline_items_col d-flex justify-content-sm-center">
                <div class="d-flex flex-column">
                <h3 class="footer_dev white_text">Rishab Singh</h3>
                <a href="mailto:rishab.w.singh1234@gmail.com" class="white_link">rishab.w.singh1234@gmail.com</a>
            </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ft_link white_links">
            <a href="#">Home</a><br>
            <a href="#">Contact Us</a><br>
            <a href="#">About Us</a><br>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ft_link white_links">
            <a href="#">Services</a><br>
            <a href="#">Developers</a><br>
            <a href="#">Designs</a><br>
        </div>
    </div>
<hr class="white_bg">
<p class="white_text px-5 py-3" style="margin-bottom: 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nihil neque culpa fugiat ab, soluta, cum maiores nobis quam voluptas et laborum facilis atque, non doloremque! Saepe harum repellat reiciendis.</p>
</footer>