
html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right bottom, #d4d4d4, #cecece);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
/* Navbar Design */
._previous, ._next{
    position: absolute;
    top: 45%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    background-color: rgba(41, 41, 41,0.6);
    border-radius: 50%;
    padding: 5px;
}
._next{
    right: 2px;
}
._previous{
    left: 2px;
}
._hamb{
    font-size: 28px;
    color: #333333;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
._hamb:hover{
    color: #333333;
}


.navbar .main-logo{
    width: 150px;
    padding: 10px;
    position: relative;
}



.nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50000;
    background-color: rgb(255, 81, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: clipper 1s ease-in-out;
    clip-path: circle(0 at 100% 0%);
    transition: 0.5s ease;
}



.nav-links ._clsbtn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 35px;
    cursor: pointer;
    font-size: 50px;
    color: white;
    user-select: none;
}
.nav-links ul{
    display: flex;
    flex-direction: column;
}
.nav-links ul li{
    list-style: none;
    margin: 20px 0;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    user-select: none;
}



#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}
.first-circle{
    width: 100%;
    height: 100%;
    z-index: -20000;
    background-color: rgb(255, 154, 38);
    position: fixed;
    top: 0;
    left: 0;
    clip-path: circle(100px at 96% 10%);
}
.second-circle{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(4, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -19999;
    clip-path: circle(150px at 0% 78%);
}
.fofo{
    font-size: 16px;
    font-weight: bold;
}
.t-btn{
    box-shadow: none !important;
    border-radius: 0px !important;
}
/* glass design and typography*/

.gls_morph{
    /* box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.507) !important;
        border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
        border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
        background: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(8px) !important; */
        background-color: white;
    }
    .gls_morph_no_border{
        /* box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.507) !important;
        background: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(8px) !important; */
        background-color: white;
    }
    .gls_morph_no_shadow{
        /* background: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(8px) !important; */
        background-color: white;
    }
    .white_text{
        color: rgb(2, 2, 2) !important;
    }
    .white_bg{
        background-color: rgb(0, 0, 0);
    }
    .white_link{
        color:  rgb(0, 0, 0);
        text-decoration: none;
    }
    .white_link:hover{
        color: rgb(59, 59, 59);
        text-decoration: none;
    }

    .main_search{
        width: 300px !important;
        height: 40px !important;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgb(68, 68, 68);
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding: 10px 20px;
        margin-left: auto !important;
        font-size: 18px;
        color: rgb(34, 34, 34);
    }
    .main_search_btn{
        border: 1px solid rgb(68, 68, 68);
        outline: none !important;
        border-left: none !important;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        padding: 0px 7px;
    }
    .main_search_btn:hover{
        background-color: rgb(63, 63, 63);
        color: rgb(231, 231, 231);
    }

    /* search page  */
    .tags_style{
        margin: 5px 20px;
    }
    .top_group{
        margin: 30px 60px 0 60px;
        /* padding: 50px !important; */
    }
    #showprofile,#showtags, #showlocation{
        margin: 20px 60px !important;
    }

    .search_profile_img{
        padding: 8px !important;
        border-radius: 50% !important;
    }
    .search_profile_username{
        font-size: 22px;
    }



    .white_links > a{
        color:  rgb(0, 0, 0);
        text-decoration: none;
    }
    .white_links > a:hover{
        color: rgb(63, 63, 63);
        text-decoration: none;
    }

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* footer  */

.footer_image{
    width: 80px;
    border-radius: 50%;
    margin: 10px 30px 10px 10px;

}
/* .footer{
    padding: 20px;
} */

.footer_links > a{
    margin-top: 20px !important;
}


/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}


@media only screen and (max-width: 1025px){
    .error_gls{
        margin: 30px;
        padding: 20px;
    }
    .error_msg{
        font-size: 20px !important;
    }
    .error_msg_h4{
        font-size: 16px !important;
    }
    .profile_con{
        margin: 5px 38px 5px 38px;
        padding: 10px;
    }
    
    .card-img-top:hover { 
        transform: none !important;
    }
    .ft_link{
        margin-top: 20px !important;
    }
    .ft_link a{
        margin-top: 20px !important;
    }
    .inline_items_col{
        margin-left: 20px;
    }
    #showtags{
        margin: 20px 15px !important;
        padding: 15px !important;
    }
    #showlocation{
        margin: 20px 15px !important;
        padding: 15px !important;
    }
    .tags_style{
        margin: 5px 20px;
        font-size: 18px;
    }
    .top_group{
        margin: 10px 20px !important;
    }
    .top_group button{
        font-size: 18px !important;
        padding: 10px 20px !important;
    }
    #showtags, #showlocation{
        margin: 10px 20px !important;
        border-radius: 0px !important;
    }
    .nav_form, .main_search, .main_search_btn{
        display: none !important;
    }


}

/* tablet screen  */
@media only screen and (max-width: 769px){
    .profile_con{
        margin: 5px 40px 5px 40px;
        padding: 10px;
    }
    .footer_image{
        margin: auto !important;
    }
    .create_post{
        padding: 5px 10px;
    }
    
    .card-img-top:hover { 
        transform: none !important;
    }
    .ft_link{
        margin-top: 20px !important;
    }
    .ft_link a{
        margin-top: 20px !important;
    }
    .inline_items_col{
        margin-left: 20px;
    }
    #showprofile{
        margin: 20px 10px !important;
        padding: 10px !important;
    }
    #showtags{
        margin: 20px 10px !important;
        padding: 10px !important;
    }
    #showlocation{
        margin: 20px 10px !important;
        padding: 10px !important;
    }
    .tags_style{
        margin: 5px 15px;
        font-size: 14px !important;
    }
    .top_group{
        margin: 10px 20px !important;
    }
    .top_group button{
        font-size: 16px !important;
        padding: 10px 20px !important;
    }
    #showtags, #showlocation{
        margin: 10px 20px !important;
        border-radius: 0px !important;
    }
    .error_gls{
        margin: 15px !important;
        padding: 15px !important;
    }
    .error_msg{
        font-size: 17px !important;
    }
    .error_msg_h4{
        font-size: 14px !important;
    }
    .nav_form, .main_search, .main_search_btn{
        display: none !important;
    }
}



/* Mobile Screen Only  */
@media only screen and (max-width: 426px){
    
    .pics{
        height: 85px ;
        width: 85px ;
        border-radius: 50%;
        margin: 10px;
    }
    .profile_con{
        margin: 25px !important;
        padding: 10px;
    }
    .card{
        margin: 10px;
    }
    .profile_username{
        font-size: 1.5rem;
        margin: 5px;
        
    }
    .user_name{
        margin: 5px;
        font-size: 20px;
    }
    .profile_desc{
        margin: 5px;
    }
    .card-img-top:hover { 
        transform: none !important;
    }
    .footer_image{
        margin: auto !important;
    }
    .create_post{
        padding: 5px 10px;
    }
    .ft_link{
        margin-top: 20px !important;
    }
    .ft_link a{
        margin-top: 20px !important;
    }
    .inline_items_col{
        margin-left: 20px;
    }
    #showtags{
        margin: 10px 5px !important;
        padding: 5px !important;
    }
    #showlocation{
        margin: 10px 5px !important;
        padding: 5px !important;
    }
    .tags_style{
        margin: 5px 10px !important;
        font-size: 12px !important
    }
    .top_group{
        margin: 0 !important;
    }
    .top_group button{
        font-size: 12px !important;
        padding: 5px 10px !important;
    }
    #showtags, #showlocation{
        margin: 10px !important;
        border-radius: 0px !important;
    }
    .search_profile_img{
        padding: 0px !important;
        border-radius: 50% !important;
    }
    .search_profile_username{
        font-size: 10px !important;
    }
    .error_gls{
        margin: 10px;
        padding: 10px;
    }
    .error_msg{
        font-size: 15px !important;
    }
    .error_msg_h4{
        font-size: 12px;
    }
    .nav_form, .main_search, .main_search_btn{
        display: none !important;
    }
    ._car_card{
        margin: 0 !important;

    }
}




footer{
    position: relative;
    padding: 15px;
}
